.user-card {
    border: 1px solid #909193;
    border-radius: 10px;
    padding: 10px 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-card__name{ 
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}

.user-card__skills { 
    font-weight: bold;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 10px;
}

.user-card__button {
    padding: 7px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    width: fit-content;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    text-align: center;
}

.user-card__button--100w {
    width: 100%;
}

.user-card__button--blue {
    background-color: #355389;
    color: white;
}

.user-card__button--bottom-centered {
    margin: 0 auto;
    margin-top: auto;
}

.user-card__description {
    margin-bottom: 30px;
}

@media (min-width: 700px) {
    .user-list__user-card-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-bottom: 30px;
    }
    .user-card {
        width: 90%;
        height: 100%;
        align-items: flex-start;
        max-width: 260px;
    }
    .user-card__name{ 
        margin-top: 25px;
    }
    .user-card__avatar {
        margin-top: -40px;
        margin-left: 38%;
    }
}