.user-card {
    border: 2px solid #0091CB;
    border-radius: 20px 59px 20px 5px;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-card__header {
    display: flex;
    margin-bottom: 32px;
}

.user-card__icon-container > i {
    font-size: 20px;
}

.user-card__icon-container {
    margin-bottom: 16px;
}

.user-card__icon-container:last-child {
    margin-bottom: 0;
}

.user-card__icon-container > svg.svg-inline--fa {
    width: 22px;
    height: 22px;
}

.user-card__icon-container > svg.svg-inline--fa path {
    color: #010132
}

.user-card__info {
    margin-bottom: 16px;
}

.user-card__name{ 
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-family: 'IBM Plex Mono', monospace;
}

.user-card__skills { 
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

.user-card__skill {
    margin-right: 8px; 
    margin-top: 2px; 
    margin-bottom: 2px; 
    font-size: 13px; 
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
}

.user-card__web {
    margin-bottom: 8px;
}

.user-card__web svg.svg-inline--fa, .user-card__location svg.svg-inline--fa {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    color: #0E0E55;
}

.user-card__button {
    padding: 7px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    width: fit-content;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}

.user-card__button--100w {
    width: 100%;
}

.user-card__button--blue {
    background-color: #0E0E55;
    color: white;
}

.user-card__button--bottom-centered {
    margin: 0 auto;
    margin-top: auto;
}

.user-card__description {
    margin-bottom: 30px;
}

@media (min-width: 700px) {
    .user-list__user-card-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-bottom: 30px;
    }
    .user-card {
        width: 90%;
        height: 100%;
        align-items: flex-start;
        max-width: 260px;
    }
    .user-card__avatar {
        margin-top: -42px;
        margin-left: 20%;
        width: 200px;
        height: 200px;
        filter: grayscale(1);
        border-radius: 50%
    }
    .user-card:hover {
        border: 2px solid #A2C400;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }

    .user-card:hover .user-card__avatar {
        filter: grayscale(0)
    }
    
    .user-card:hover .user-card__icon-container > svg.svg-inline--fa path {
        color: #A2C400;
    }

    .user-card:hover .user-card__button--blue {
        background-color: #1342EA;
    }

    .user-card:hover .user-card__web svg.svg-inline--fa, .user-card:hover .user-card__location svg.svg-inline--fa {
        color: #8A61FF
    }
}