.user-list__container {
    max-width: 1300px;
    width: 100%;
    padding: 40px 10px;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: 5%;
    padding: 40px 0;
}

.user-list__header {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
}

.user-list__header::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 108px;
    height: 1px;
    content: " ";
    border-bottom: 5px solid #8A61FF;
}

@media (min-width: 700px) {
    .user-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
        grid-gap: 2%;
        padding: 40px 0;
    }
}

@media (min-width: 1200px) {
    .user-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-gap: 3%;
        padding: 40px 0;
    }
}