.hero-home {
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}

.hero-home__display-text {
    width: 50%;
    color: #CECECE;
}

.hero-home__display-title {
    text-transform: uppercase;
}

.hero-home__display-subtitle {
    text-transform: uppercase;
}

.hero-home__image {
    width: 50%;
}