.hero-home {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 1300px;
    width: 100%;
}

.hero-home__display-text {
    width: 100%;
    text-align: center;
    padding: 20px 10px;
}

.hero-home__display-title {
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    margin-bottom: 32px;
    font-size: 36px;
}

.hero-home__display-subtitle {
    color: #717179;
    font-size: 20px;
}

.hero-home__image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-home__image {
    max-width: 100%;
}

@media (min-width: 991px) {
    .hero-home {
        flex-direction: row;
    }
    .hero-home__display-text {
        width: 50%;
        text-align: left;
    }
    .hero-home__image-container {
        width: 50%;
    }
}